* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Lato, sans-serif;
}

header {
  background-image: url("assets/Layer 7.png");
  height: 800px;
  width: 100%;
  background-position: center;
}

nav {
  padding-top: 25px;
  padding-right: 40px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

ul li {
  display: inline;
  padding: 40px;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 500px;
  padding: 60px;
}

.textbox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 1000px;
}

.textbox1 p {
  line-height: 2;
}

.box2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 600px;
}

.box2-1 {
  background-image: url("assets/Layer 10.png");
  background-position: center;
  height: 600px;
  width: 1067px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 600px;
  width: 533px;
  padding: 20px;
}

.textbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 400px;
}

.box2-2 p {
  text-align: center;
}

.box3 {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.box3-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 600px;
  width: 533px;
}

.box3-2 {
  background-image: url("assets/Layer 12.png");
  height: 600px;
  width: 1067px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.textbox3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.box4-1 {
  background-image: url("assets/Layer 15.png");
  height: 600px;
  width: 533px;
}
