* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Lato, sans-serif;
}

header {
  background-image: url("assets/Layer 7.png");
  height: 800px;
  width: 100%;
  background-position: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

ul li {
  display: inline;
  padding: 15px;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 500px;
  padding: 60px;
}

.textbox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 1000px;
}

.textbox1 p {
  line-height: 2;
}

.box2 {
  display: flex;
  flex-direction: row;
}

.box2-1 {
  background-image: url("assets/Layer 10.png");
  background-position: center;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
